<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$info.title}</title>
<link rel="stylesheet" href="__PUBLIC__/css/norm.detail.css">
<if condition="is_wechat()"> <include file="Public/wechat"/> </if>
</head>
<body style="padding:0px 0 47px 0">
<div id="js_article" class="rich_media">
  <div class="rich_media_inner" style=" padding-top:0px">
    <div id="page-content">
      <div id="img-content" class="rich_media_area_primary">
        <h2 class="rich_media_title ui-border-b" id="activity-name" style="padding-bottom:14px">{$info.title}</h2>
        <div class="rich_media_meta_list"><em id="post-date" class="rich_media_meta rich_media_meta_text">{$info.create_time|date='Y-m-d',###}</em><a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="{:U('Shop/index/index')}" id="post-user">{$Store.store_name}</a></div>
        <div class="rich_media_content " id="js_content">{$info.content}</div>
        <style>
#ajax-page-container{ padding:0px; position:relative}
body,html{ overflow-x:hidden}
.article-lead img,.article-lead div img,.article-lead p img{ width:100%; margin:0 auto}

</style>
        <div class="article-hd margin-bottom" style=" text-align:center; margin-top:20px"> <a href="{:U('Zan',array('id'=>$info['id']))}" class="btn btn-danger" data-ajax="get"  style="border-radius:100%;width:100px; height:100px; line-height:80px; margin:0 auto; padding:0px;"><i class="icon-uniF164" style=" font-size:60px; margin-top:15px"></i></a>
        <notempty name="good">
          <div class="text-center margin-top-sm ui-border-b padding-bottom-sm">赞过的朋友</div>
          <div class="padding-ms text-left" style="padding-top:15px">
          	<ul class="news-good-list">
            	<volist name="good" id="vo"><li><img class="round" width="50" height="50" src="{$vo.face}">{$vo.nickname}</li></volist>
            </ul>
          </div>
          </notempty>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Public/footer"/> 
<script type="application/javascript">
wx.ready(function(){ 
		wx.onMenuShareTimeline({
			title: "{$info.title}", // 分享标题
			link: "{:U('Shop/News/Detail',array('id'=>$info['id']),true,true)}", // 分享链接
			imgUrl: "{:Host().get_cover($info['img'],'path')}", // 分享图标
			success: function () { 
			  alert('已经成功分享到朋友圈');
			}
		});
		
		wx.onMenuShareAppMessage({
			title: "{$info.title}", // 分享标题
			desc: "{$info.description}", // 分享描述
			link: "{:U('Shop/News/Detail',array('id'=>$info['id']),true,true)}", // 分享链接
			imgUrl: "{:Host().get_cover($info['img'],'path')}", // 分享图标
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function () { 
				alert('成功分享给好友');
			}
	});
});
</script>
</body>
</html>
