<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
</head>
<body>
	<!-- 头部 -->
  	<include file="Public/header"/>
    <div style="text-align:center; margin-top:120px"><i class="uk-icon-code" style="font-size:100px; color:#fff; background:#3dc0f1; border-radius:100%; width:200px; height:200px; line-height:200px"></i></div>
    <div style="text-align:center; margin-top:26px; font-size:25px; color:#555">接口发布工具</div>
    
    <form  action="__SELF__" class="uk-form" method="post" style="text-align:center; width:380px; margin:0 auto; margin-top:30px;">
    
    <div class="uk-form-row">
    <div class="uk-form-icon">
        <i class="uk-icon-key"></i>
        <input type="text" name="password" class="uk-form-large" style="width:380px;" placeholder="请瞎蒙一个管理密码">
    </div>
    </div>
    <div class="uk-form-row" style=" overflow:hidden">
    <div style="float:left; color:#888; margin-top:10px">忘记密码，那也没有办法，我们基本都靠蒙</div> <button data-ajax="post" class="uk-button uk-button-primary uk-button-large" type="submit" style="float:right">登陆</button>
    </div>
    </form>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>
