body {
	padding: 0px;
	margin: 0px;
	background: #ffffff;
}
.teamName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	/*width: 75px;*/
}
.debug {
	position: absolute;
	left: 0px;
	background: #FFF;
	top: 0px;
	font-size: 12px;
	font-family: "微软雅黑";
	float: left;
	width: 400px;
	padding-right: 10px;
	padding-left: 10px;
}
.debug table { background: #CCC; }
.debug table tr td {
	background: #FFC;
	line-height: normal;
	padding: 1px;
}
.debug table tr td a{
	display: block;
	border: 1px solid #CCC;
	background: #FFF;
	white-space: nowrap;
	text-align: center;
	color: #333;
	text-decoration: none;
	line-height: normal;
	padding-right: 5px;
	padding-left: 5px;
}

.debug .title {
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	font-size: 14px;
}
.demo {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	background: #FFFDF3;
	height: 1000px;
}
.top {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/top.gif) no-repeat 0px top;
	height: 406px;
	margin-bottom: 1px;
}
.bottom {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/bottom.gif);
	height: 544px;
	margin-top: 1px;
}
.ant {
    margin-right: auto;
    margin-left: auto;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #333;
    overflow: hidden;
    padding: 1px;
    width: 560px;
}
.ant .team div{
	font-weight:bold;}
.ant div {margin:0px;}
.ant .timeLine {
	float: right;
	width: 320px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/timelineBG.gif);
	height: 140px;
}
.ant .timeLine.big{background: url(http://interface.win007.com/zq/dt/demo/images/ant/timelineBG_big.gif);}
.ant .timeLine .info {
	float: right;
	height: 113px;
	width: 292px;
	position: relative;
}
.ant .timeLine .info .timeLine {

	height: 113px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/currentTime.gif) no-repeat;
	width: 7px;
	line-height: 113px;
	position: absolute;
	top: 0px;
	z-index: 0;
	font-size: 12px;
	color: #FFF;
	text-align: center;
}
.ant .timeLine .info .timeBar {
	height: 113px;
	width: 1px;
	line-height: 113px;
	position: absolute;
	top: 0px;
	z-index: 0;
	font-size: 12px;
	border-left:solid 1px #FF4F00;
	color: #FFF;
	text-align: center;
}
.ant .timeLine .info .timeBar i {
	height: 18px;
	top: 3px;
	overflow: hidden;
	line-height: 18px;
	background:#FF4F00;
	position: absolute;
	border:solid 1px #FF4F00;
	border-radius: 3px;
	left: -1px;
	font-style: normal;
	width: 20px;
	color:#fff;
	padding-right: 2px;
	padding-left: 2px;
}

.ant .timeLine .info i {
	position: absolute;
	font-style: normal;
	height: 25px;
	width: 2px;
}
.ant .timeLine .info i.b{
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat;
	height: 14px;
	width: 14px;
}
.ant .timeLine .info i.a{ background: #E62129; }
.ant .timeLine .info i.f{
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/flag.gif);
	height: 14px;
	width: 14px;
}
.ant .timeLine .info i.s{ background: #026A29; }
.ant .timeLine .info .home {
	height: 55px;
	position: relative;
	left: 0px;
	top: 0px;
}
.ant .timeLine .info .home i { bottom: 0px; }
.ant .timeLine .info .home i.b { bottom: 37px; }
.ant .timeLine .info .home i.f {
	bottom: 28px;
	z-index: 0;
}
.ant .timeLine .info .guest {
	height: 55px;
	margin-top: 3px;
	position: relative;
	left: 0px;
	top: 0px;
}
.ant .timeLine .info .guest i {
	position: absolute;
	top: 0px;
}


.ant .timeLine .info .guest i.b { top: 37px; }
.ant .timeLine .info .guest i.f {
	top: 28px;
	z-index: 0;
}

.ant .liveBox {
	float: left;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/liveBG.gif) no-repeat;
	height: 140px;
	width: 235px;
	margin-left: 3px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.ant .liveBox .cornerBall_0 {
	height: 64px;
	width: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/corner.gif) left top;
	display: none;
}
.ant .liveBox .cornerBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 30px;
}
.ant .liveBox .cornerBall_0 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}

.ant .liveBox .cornerBall_1 {
	height: 64px;
	width: 40px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/corner.gif) right top;
	display: none;
}
.ant .liveBox .cornerBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	right: 0px;
}
.ant .liveBox .cornerBall_1 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
	margin-right:30px;
}
.ant .liveBox .cornerBall_2 {
	height: 64px;
	width: 40px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/corner.gif) no-repeat right bottom;
	display: none;
}
.ant .liveBox .cornerBall_2 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.ant .liveBox .cornerBall_2 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
	margin-right:30px;
}
.ant .liveBox .cornerBall_3 {
	height: 64px;
	width: 40px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/corner.gif) left bottom;
	display: none;
}
.ant .liveBox .cornerBall_3 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 30px;
	bottom: 0px;
}
.ant .liveBox .cornerBall_3 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .lineBall_0 {
	height: 38px;
	width: 48px;
	position: absolute;
	left: 60px;
	top: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/lineBall.gif) left top;
	display: none;
}
.ant .liveBox .lineBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	right: 35px;
	
	
}
.ant .liveBox .lineBall_0 .team .teamName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 75px;
}

.ant .liveBox .lineBall_0 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}

.ant .liveBox .lineBall_1 {
	height: 38px;
	width: 48px;
	position: absolute;
	top: 0px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/lineBall.gif) right top;
	right: 77px;
	display: none;
}
.ant .liveBox .lineBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 38px;
}
.ant .liveBox .lineBall_1 .team .teamName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 75px;
}
.ant .liveBox .lineBall_1 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .lineBall_2 {
	height: 38px;
	width: 48px;
	position: absolute;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/lineBall.gif) right bottom;
	right: 77px;
	bottom: 0px;
	display: none;
}
.ant .liveBox .lineBall_2 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 38px;
}
.ant .liveBox .lineBall_2 .team .teamName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 75px;
}
.ant .liveBox .lineBall_2 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .lineBall_3 {
	height: 38px;
	width: 48px;
	position: absolute;
	left: 76px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/lineBall.gif) left bottom;
	bottom: 0px;
	display: none;
}
.ant .liveBox .lineBall_3 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	bottom: 0px;
	right: 48px;
}
.ant .liveBox .lineBall_3 .team .teamName {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 75px;
}
.ant .liveBox .lineBall_3 .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .star {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 50%;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat center center;
	left: 50%;
	margin-top: -7px;
	margin-left: -7px;
	display: none;
}
.ant .liveBox .star .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 235px;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 20px;
	margin-left: -118px;
}
.ant .liveBox .star .team .ball {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .stopIt{
	height: 140px;
	width: 235px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/stopIt.gif);
	display: none;
}
.ant .liveBox .stopIt .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 20px;
	margin-left: -35.25px;
}
.ant .liveBox .stopIt .team span {
	color: #FF0;
	line-height: normal;
	display: block;
}

.ant .liveBox .shotIn{
	height: 140px;
	width: 235px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shotIn.gif);
	display: none;
}
.ant .liveBox .shotIn .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 20px;
	margin-left: -35.25px;
}
.ant .liveBox .shotIn .team span {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .shotOut{
	height: 140px;
	width: 235px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shotOut.gif);
	display: none;
}
.ant .liveBox .shotOut .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 20px;
	margin-left: -35.25px;
}
.ant .liveBox .shotOut .team span {
	color: #FF0;
	line-height: normal;
	display: block;
}

.ant .liveBox .shotLost{
	height: 140px;
	width: 235px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shotLost.gif);
	display: none;
}
.ant .liveBox .shotLost .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 20px;
	margin-left: -35.25px;
}
.ant .liveBox .shotLost .team span {
	color: #FF0;
	line-height: normal;
	display: block;
}
.ant .liveBox .msg {
	line-height: normal;
	width: 140px;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	display: none;
	background: #4E9AC1;
	margin-left: -70px;
}
.ant .liveBox .msg span{ display:block;color: #fcff00;}
.ant .liveBox .default {
	height: 140px;
	width: 235px;
	position: absolute;
	top: 0%;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/defBG.gif) no-repeat center center;
	left: 0%;
	display: none;
}

.ant .liveBox .default .homeTeam {
	position: absolute;
	top: 62px;
	right: 140px;
	color: #FFF;
	width:85px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	white-space: nowrap;
}
.ant .liveBox .default .guestTeam {
	position: absolute;
	left: 140px;
	top: 62px;
	color: #FFF;
	width:85px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	white-space: nowrap;
}

.ant .liveBox .default .tianqi {
	left: 0px;
	bottom: 0px;
	position: absolute;
	color: #FFF;
	width: 225px;
}
.ant .liveBox .default .tianqi .data2{width:100%;height:100%;padding: 5px;background: url(http://interface.win007.com/zq/dt/demo/images/ant/tianqiBG_05.png) repeat-y left bottom;}

.ant .liveBox .offside_1 {
	position: absolute;
	display: none;
	height: 140px;
	width: 110px;
}
.ant .liveBox .offside_1 i  {
	width: 3px;
	height: 140px;
	background: #0c688d;
	position: absolute;
	left: 26px;
	top: 0px;
}

.ant .liveBox .offside_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 45px;
	margin-top: -20px;
}
.ant .liveBox .offside_1 .team .ball {
	color: #FF0;
	line-height: normal;
}
.ant .liveBox .offside_0 {
	position: absolute;
	display: none;
	height: 140px;
	width: 110px;
	right: 0px;
}
.ant .liveBox .offside_0 i  {
	width: 3px;
	height: 140px;
	background: #0c688d;
	position: absolute;
	top: 0px;
	right: 26px;
}
.ant .liveBox .offside_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	right: 45px;
}
.ant .liveBox .offside_0 .team .ball {
	color: #FF0;
	line-height: normal;
}



.ant .liveBox .DBall_0 {
	position: absolute;
	top: 44px;
	height: 28px;
	width: 60px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/DBall.gif) no-repeat right top;
	display: none;
	left: 22px;
}
.ant .liveBox .DBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	top: 28px;
	left: 0px;
}
.ant .liveBox .DBall_0 .team .ball {
	/*	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat right center;
	color: #FF0;
	line-height: normal;
	display: block;
	padding-right: 15px;*/
	color: #FF0;
	line-height: normal;
}
.ant .liveBox .DBall_1 {
	position: absolute;
	top: 44px;
	height: 28px;
	width: 60px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/DBall.gif) no-repeat left bottom;
	display: none;
	right: 22px;
}
.ant .liveBox .DBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: -20px;
	top: 28px;
}
.ant .liveBox .DBall_1 .team .ball {
	/*	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat left center;
	color: #FF0;
	line-height: normal;
	display: block;
	text-align: left;
	padding-left: 15px;*/
	color: #FF0;
	line-height: normal;
}


.ant .liveBox .autoBall_0 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 75px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shot.gif) no-repeat right top;
	display: none;
	right: 0px;
}
.ant .liveBox .autoBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	margin-top: -5px;
	margin-left: -80px;
	margin-right: auto;
	font-size: 12px;
}
.ant .liveBox .autoBall_0 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat right center;
	color: #FF0;
	line-height: normal;
	display: block;
	padding-right: 15px;
}
.ant .liveBox .autoBall_1 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 75px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shot.gif) no-repeat left bottom;
	display: none;
	left: 0px;
}
.ant .liveBox .autoBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 80px;
	top: -5px;
}
.ant .liveBox .autoBall_1 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat left center;
	color: #FF0;
	line-height: normal;
	display: block;
	text-align: left;
	padding-left: 15px;
}
.ant .liveBox .DAutoBall_0 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 75px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shot_min.gif) no-repeat right top;
	display: none;
	right: 0px;
}
.ant .liveBox .DAutoBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	margin-top: -5px;
	margin-left: -35.25px;
	margin-right: auto;
	font-size: 12px;
}
.ant .liveBox .DAutoBall_0 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat right center;
	color: #FF0;
	line-height: normal;
	display: block;
	padding-right: 15px;
}
.ant .liveBox .DAutoBall_1 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 75px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/shot_min.gif) no-repeat left bottom;
	display: none;
	left: 0px;
}
.ant .liveBox .DAutoBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	font-size: 12px;
	position: absolute;
	left: 50px;
	top: -5px;
}
.ant .liveBox .DAutoBall_1 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat left center;
	color: #FF0;
	line-height: normal;
	display: block;
	text-align: left;
	padding-left: 15px;
}


.ant .liveBox .pointBall_0 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 30px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/pointBall.gif) no-repeat right top;
	display: none;
	right: 0px;
	z-index: 2;
}
.ant .liveBox .pointBall_0 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	margin-top: -5px;
	font-size: 12px;
	margin-left: -90px;
}
.ant .liveBox .pointBall_0 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat right center;
	color: #FF0;
	line-height: normal;
	display: block;
	padding-right: 15px;
}
.ant .liveBox .pointBall_1 {
	position: absolute;
	top: 46px;
	height: 48px;
	width: 30px;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/pointBall.gif) no-repeat left bottom;
	display: none;
	left: 0px;
	z-index: 2;
}
.ant .liveBox .pointBall_1 .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	margin-top: -5px;
	font-size: 12px;
	margin-right: -30px;
	position: absolute;
	left: 20px;
	top: 0px;
}
.ant .liveBox .pointBall_1 .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.png) no-repeat left center;
	color: #FF0;
	line-height: normal;
	display: block;
	padding-left: 15px;
}
.ant .liveBox .ballIn_0 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/in.gif) no-repeat center top;
	padding-top: 100px;
	height: 40px;
	width: 235px;
	font-size: 26px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	display: none;
}
.ant .liveBox .ballIn_0 .on { color: #FF0; }
.ant .liveBox .ballIn_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/in2.gif) no-repeat center top;
	padding-top: 100px;
	height: 40px;
	width: 235px;
	font-size: 26px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
	display: none;
}
.ant .liveBox .ballIn_1 .on { color: #FF0; }

.ant .liveBox .foul {
	position: absolute;
	left: 0px;
	z-index: 999;
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/foul.png) no-repeat center bottom;
	height: 33px;
	width: 100%;
	font-size: 13px;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	bottom: 1px;
	vertical-align: middle;
	line-height: 33px;
	display: none;
}
.ant .liveBox .redCard {
	padding-left: 15px;
   background: url(http://interface.win007.com/zq/dt/demo/images/ant/red.jpg) no-repeat left 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    height: 30px;
    display: block;
	margin-left:auto;
	margin-right:auto;
}
.ant .liveBox .yellowCard {
	padding-left: 15px;
    background: url(http://interface.win007.com/zq/dt/demo/images/ant/yellow.jpg) no-repeat left 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    height: 30px;
    display: block;
	margin-left:auto;
	margin-right:auto;
}




.ant .liveBox .homeEventBox   {
	width: 0%;
	position: absolute;
	height: 140px;
	overflow: hidden;
	left: 0px;
	top: 0px;
	display: none;
}
.ant .liveBox .homeEventBox .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	right: 5px;
	text-align: right;
	line-height: 20px;
	margin-top: -20px;
	top: 50%;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	position: absolute;
	padding-right: 5px;
}
.ant .liveBox .homeEventBox .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.gif) no-repeat right center;
	padding-right: 15px;
	color: #FF0;
	line-height: 20px;
}
.ant .liveBox .homeEventBox .ctrlBG {
	background: #0c3c4f;
	width: 100%;
	display: none;
	height: 140px;
}
.ant .liveBox .homeEventBox .attackBG {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/jg.png) no-repeat right top;
	width: 100%;
	height: 140px;
	display: none;
}
.ant .liveBox .homeEventBox .DAttackBG {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/wxjg.png) no-repeat right top;
	width: 100%;
	height: 140px;
	display: none;
}
.ant .liveBox .homeEventBox > div,.ant .liveBox .guestEventBox > div  {
	position: absolute;
	top: 0px;
	height: 140px;
	right: 0px;
}
.ant .liveBox .guestEventBox {
	width: 0%;
	position: absolute;
	height: 140px;
	overflow: hidden;
	right: 0px;
	top: 0px;
	display: none;
}
.ant .liveBox .guestEventBox .team {
	z-index: 999;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	margin-top: -20px;
	top: 50%;
	height: 40px;
	white-space: nowrap;
	width: 75px;
	left: 5px;
	position: absolute;
	padding-left: 5px;
}
.ant .liveBox .guestEventBox .team .ball {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/ball.gif) no-repeat left center;
	color: #FF0;
	line-height: 20px;
	padding-left: 15px;
}
.ant .liveBox .guestEventBox .ctrlBG {
	background: #0c3c4f;
	width: 100%;
	display: none;
	height: 140px;
}
.ant .liveBox .guestEventBox .attackBG {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/jg.png) no-repeat left top;
	width: 100%;
	display: none;
	height: 140px;
}
.ant .liveBox .guestEventBox .DAttackBG {
	background: url(http://interface.win007.com/zq/dt/demo/images/ant/wxjg.png) no-repeat left top;
	width: 100%;
	display: none;
	height: 140px;
}


.ant .guessBox{
	float: left;
	height: 140px;
	width: 185px;
	overflow: hidden;
}
.ant .guessBox table { background: #CCC; }
.ant .guessBox table tr th{
	background: #f0f0f0;
	line-height: 19px;
	padding-left: 2px;
}
.ant .guessBox table tr td{
	background: #f0f0f0;
	border-style: none;
	line-height: 16px;
}
.ant .guessBox table tr td .red{ color: #e62129; }
.ant .guessBox table tr td.y { background: #fffbe4; }
.ant .guessBox .btns{
	float: right;
	font-weight: normal;
	margin-right: 1px;
	border: 1px solid #418bb3;
	line-height: 15px;
	height: 15px;
	margin-top: 1px;
	margin-bottom: 1px;
	background: #FFFFFF;
	color: #418bb3;
}
.ant .guessBox .btns span {
	padding-right: 2px;
	padding-left: 2px;
	cursor: pointer;
	overflow: hidden;
	line-height: 15px;
	height: 15px;
	display: block;
	float: left;
}
.ant .guessBox .btns2{
	float: right;
	font-weight: normal;
	margin-right: 30px;
	line-height: 15px;
	height: 15px;
	margin-top: 1px;
	margin-bottom: 1px;
	color: #418bb3;
}
.ant .guessBox .btns2 span {
	padding-right: 2px;
	padding-left: 2px;
	cursor: pointer;
	overflow: hidden;
	line-height: 15px;
	height: 15px;
	display: block;
	float: left;
}
.ant .guessBox .btns span:hover { color: #e62129; }
.ant .guessBox .btns .on ,.ant .guessBox .btns .on:hover{
	background: #418bb3;
	color: #FFFFFF;
	overflow: hidden;
	cursor: default;
}
