<block name="footer">
<div style="height:180px"></div>
<div style="width:100%; height:100px; background:#333; position:fixed; bottom:0px;left:0px; color:#999;text-align:center; z-index:999999"><table width="100%" border="0">
  <tr>
    <td height="100" style=" padding:0px 20px; "> 这只是一个管理接口的工具，你之所以看到这一行文字，纯粹是为了装饰，凑字数 <br />顺带一提：本程序版权归我所有，如果侵权我也没招儿</td>
  </tr>
</table>
</div>

</block>

<script src="__JS__/uikit.js"></script>
<script src="__JS__/mobile.ui.js"></script>
<script>
//$('.hbox').css('height',$('.uk-form').height()+'px').animate({scrollTop:$('.uk-nav-side .active').offset().top-500});
</script>




